<html>
<head>
    <title>

    </title>
    <body>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.errors}}
        Title:<input type="text" name="title"><br>
        Posted By:<input type="text" name="posted_by"><br>
        Answer Description:<input type="text" name="answer_desc"><br>
        Answer Image:<input type="file" name="answer_img"> <br>
        Question:<select name="question">
        {%for que in question %}
        <option value="{{que.id}}">{{que.title}}</option>
        {% endfor %}
    </select><br>
       <input type="hidden" name="ans_votes" value="0">
       <input type="submit" value="Submit"/>
    </form>
</body>
</html>