
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>This is newest question</h1>
    {% for ans in answer %}
    <h3>{{ans.title}}</h3>
    <h4>{{ans.question_desc}}</h4>
    <h4>{{ans.timestamp}}</h4>
    <img src="../../media/{{q.question_img}}"
    style="width: 100px;height:100px"  alt="img">
    <a href= "{% url 'qna: updateanswer' q.id %}"><button>Update</button></a>
    <a href='{% url "qna:delete" q.id %}'><button>Delete</button></a>

     {% endfor %}
 <a href='{% url "qna:addanswer" %}'><button>Add</button></a>
</body>
</html>